@font-face {
    font-family: Courier Prime Bold;
    src: url(CourierPrime-Bold.ttf);
}

@font-face {
    font-family: Courier Prime;
    src: url(CourierPrime-Regular.ttf);
}

:root {
    font-family:
        Courier Prime,
        sans-serif;

    --clr-background: #4268ff;
    --clr-text: #ffffff;
    --clr-text-secondary: #000f49;
    --clr-highlight: #de0e57;
    --clr-ticket-text: #15297c;
    --clr-ticket-text-secondary: #4268ff;
    --clr-ticket-outline: #4268ff;
    --clr-border: #282828;

    --border-radius: 0.5rem;

    --max-width: 750px;
}

h1,
h2 {
    font-family:
        Courier Prime Bold,
        sans-serif;
}

@media (min-width: 25rem) {
    :root {
        font-size: 1.25rem;
    }
}

@media (min-width: 30rem) {
    :root {
        font-size: 1.5rem;
    }
}

body {
    background: var(--clr-background);
    color: var(--clr-text);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 1rem 1.25rem;
    margin: 0 auto;

    box-sizing: border-box;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.hide.hide {
    display: none;
}

h1 {
    font-size: 2.5rem;
    line-height: 1;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    margin-bottom: 0.5rem;
}

.title-location {
    color: var(--clr-text-secondary);
}

header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto 1rem;
    max-width: var(--max-width);
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
}

.login-container {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    align-items: center;
}

.login-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.input {
    font-family:
        Courier Prime Bold,
        sans-serif;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: 4px solid var(--clr-border);
    outline: none;
}

.button {
    font-family:
        Courier Prime,
        sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background: var(--clr-text-secondary);
    color: var(--clr-text);
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    transition: background 300ms ease-in-out;
}

.button:hover {
    background: var(--clr-border);
}

.submit-login-button {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: end;
}

.logout-button {
    display: inline-block;
    margin-left: auto;
}

.create-exchange-container {
    margin-bottom: 2rem;
}

.last-exchanges-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.last-exchanges-entry {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.last-exchanges-entry-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.transfer-queue-to-exchange-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    width: 100%;
}

.qr-code-title {
    text-align: center;
    margin-bottom: 1rem;
}

.qr-code-display {
    width: 256px;
    padding: 1rem;
    background: white;
    margin: 0 auto;
}

.qr-code-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

@media print {
    header {
        justify-content: center;
        text-align: center;
    }

    .header-right,
    .qr-code-actions {
        display: none;
    }
}
