body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 2rem 1rem;
    margin: 0 auto;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

#login-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
