@font-face {
    font-family: Courier Prime Bold;
    src: url(CourierPrime-Bold.ttf);
}

@font-face {
    font-family: Courier Prime;
    src: url(CourierPrime-Regular.ttf);
}

:root {
    font-family:
        Courier Prime Bold,
        sans-serif;

    --clr-background: #4268ff;
    --clr-text: #ffffff;
    --clr-text-secondary: #000f49;
    --clr-highlight: #de0e57;
    --clr-ticket-text: #15297c;
    --clr-ticket-text-secondary: #4268ff;
    --clr-ticket-outline: #4268ff;

    --border-radius: 0.5rem;

    --max-width: 500px;
}

@media (min-width: 25rem) {
    :root {
        font-size: 1.25rem;
    }
}

@media (min-width: 30rem) {
    :root {
        font-size: 1.5rem;
    }
}

body {
    background: var(--clr-background);
    color: var(--clr-text);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 1rem 1.25rem;
    margin: 0 auto;
}

.hide.hide {
    display: none;
}

h1 {
    font-size: 2.5rem;
    line-height: 1;
    margin: 0 auto 1rem;
    max-width: var(--max-width);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.title-location {
    color: var(--clr-text-secondary);
}

.ticket {
    /* fixed */
    --ticket-aspect-ratio: 0.699989063;
    --ticket-outline-width: 4px;
    --ticket-horizontal-corner-inset: 18.4352159%;
    --ticket-vertical-corner-inset: 14.6046512%;
    /* changeable */
    --ticket-line-spacing: 3px;
    --ticket-outline-inset: 15%;
    --ticket-number-height-fraction: 62%;
    width: 100%;
    max-width: var(--max-width);
    display: block;
    background: transparent;
    color: var(--clr-ticket-text);
    position: relative;
    aspect-ratio: var(--ticket-aspect-ratio);
    margin: 4rem auto;
    box-sizing: border-box;
    padding: 1rem;
}

.ticket-background {
    width: 100%;
    position: absolute;
    inset: 0;
}

.ticket-outline {
    width: calc(100% - var(--ticket-outline-inset));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: var(--clr-ticket-outline);
}

.ticket-content {
    width: calc(100% - var(--ticket-outline-inset));
    height: calc(100% - var(--ticket-outline-inset));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: var(--ticket-vertical-corner-inset) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-line {
    height: var(--ticket-outline-width);
    background: var(--clr-ticket-outline);
    width: calc(100% - 2 * var(--ticket-horizontal-corner-inset));
}

.ticket-line + .ticket-line {
    margin-top: var(--ticket-line-spacing);
}

.number-display-wrapper {
    height: var(--ticket-number-height-fraction);
    display: flex;
    align-items: center;
}

.draw-button {
    font-family:
        Courier Prime Bold,
        sans-serif;
    font-size: 1.5rem;
    padding: 1.25rem 1.25rem;
    background: var(--clr-highlight);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    border: 4px solid #282828;
    box-shadow: #282828 6px 6px;
    transition: box-shadow 300ms ease-in-out;
}

.draw-button:hover {
    box-shadow: #282828 0px 0px;
}

.number-display {
    font-size: 6rem;
    font-weight: 700;
}

.ticket-info-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5rem;
    margin-top: 8.6%;
}

.draw-time-label,
.draw-time-display {
    color: var(--clr-ticket-text-secondary);
    font-family: Courier Prime;
}

.error-display {
    width: calc(100% - var(--ticket-outline-inset));
    height: calc(100% - var(--ticket-outline-inset));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: calc(var(--ticket-vertical-corner-inset) + 1rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #b30000;
    font-size: 1.25rem;
}

.other-offices-wrapper {
    width: calc(100% + 2rem);
    margin: -1rem -1rem 0;
    display: flex;
    justify-content: center;
}

.other-offices {
    text-decoration: none;
    color: var(--clr-text);
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
